<footer class="bg-light text-center text-black">
  <!-- Grid container -->
  <div class="flex-container">
    <!-- Section: Social media -->
      <!-- Facebook -->
      <a
        class="flex-item"
        href="https://www.facebook.com/"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a
        class="flex-item"
        href="https://twitter.com/?lang=en"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a
        class="flex-item"
        href="https://www.instagram.com/?hl=en"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright: Snatch Corp. LLC
  </div>
  <!-- Copyright -->
</footer>
