<footer class="bg-light text-center text-black">
  <div class="flex-container">
      <div class="socials">
        <a
          class="flex-item"
          href="https://www.facebook.com/"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a
          class="flex-item"
          href="https://twitter.com/?lang=en"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          class="flex-item"
          href="https://www.instagram.com/?hl=en"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </div>
      <div class="text-center p-3">
      © 2022 Copyright: Snatch Corp. LLC
      </div>
  </div>
</footer>
