<div class="navbar">
  <a href="/"><%= image_tag "logo/logo.png", alt: "Snatch", width: 90, class: "nav-logo" %></a>
  <form action="/bikes">
    <input type="text" placeholder="Search.." name="searchq" value="" class="search-bar">
  </form>
  <div class="addFlatBtn">
    <h5><%= link_to "+ Add a bike", new_bike_path, class:"add-bike-btn" %></h5>
  </div>
  <div class="userNavAvatar">
  </div>
</div>
