.search-page {
  display: flex;
  margin: 20px 0;

  .search-map {
    margin-right: 20px;
    width: 50%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .map-pic {

  }

  .search-result {
    width: 50%;
    height: 600px;
    overflow: scroll;
  }
}
