.banner {
  background-image: url("https://images.unsplash.com/photo-1503434396599-58ba8a18d932?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmVzcGF8ZW58MHx8MHx8&w=1000&q=80");
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  height: 1013px;
  margin-top: -56px;
}

.banner-title {
  padding-right: 352px;
  padding-top: 665px;
  font-size: 90px;
  font-family: 'Inter', sans-serif;
  color: white;
}
