.card-container {
    display: flex;
    align-items:flex-end;
}
// .map_span {
//   display: flex;
//   justify-content: right;
//     position: sticky;
// }

.map-pic {
    display: flex;
    height: 200px;
    width: 10%;
}

.scooter_pic img {
    display: flex;
    height: 200px;
}

.booking-card {
  border-radius: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 700px;
  height: 175px;
  padding: 15px;

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.booking-img {
  border-radius: 20px;
  height: 150px;
  object-fit: cover;
}

.no-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
