.card-container {
    display: flex;
    align-items:flex-end;
}
// .map_span {
//   display: flex;
//   justify-content: right;
//     position: sticky;
// }

.map-pic {
    display: flex;
    height: 200px;
    width: 10%;
}

.scooter_pic img {
    display: flex;
    height: 200px;
}