.flex-container {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid #{$snatchblue};
  display: flex;
  margin: 0px auto;
  background-color: white;
  flex-direction: column;
  justify-content: center;
}



.flex-item {
  font-size: 17px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #{$snatchblue};


  &:hover {
    color: #{$snatchbluehover};
}
}

.socials {
  display: flex;
  align-self: center;
}
