.flex-container {
  display: inline-flex;
  padding: 5px;
  display: flex;
  margin: 0px auto;
  justify-content: center;

}



.flex-item {
  box-shadow: 0 0 20px lightgray;
  font-size: 17px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: #76BDC9;
  margin: 10px;
  color: #76BDC9;
  ;



  &:hover {
    color: #76BDC9;
    outline-style: double;
    outline-color: #76BDC9;
}
}
