.navbar {
  margin: 0 auto;
  padding: 5px 20px;
  // background-image: linear-gradient(to right bottom, #edf5f6, #f2f7f9, #f7fafc, #fcfcfd, #ffffff);
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50px;
  position: sticky;
  width: 80vw;
  top: 20px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: #{$shadow};

  .nav-logo {
    margin: 0 10px;
  }

  p, h5 {
    margin: 0px;
  }

  .addFlatBtn {
    color: #{$snatchblue};
    font-size: 17px;
    padding: 5px 15px;
    text-align: right;
    flex-grow: 1;

    &:hover {
      text-decoration: underline;
      font-weight: bolder;
    }
  }

  .search-bar {
    padding: 10px 20px;
    width: 50vw;
    border-radius: 50px;
    border: none;
    // border: 1px solid #{$snatchblue};
  }

  .userNavAvatar {
    padding: 20px;
    border-radius: 20px;
    background-color: grey;
    background-image: url("https://res.cloudinary.com/wagon/image/upload/c_fill,w_200/v1585817063/mjfsgrwh6a5l8msehjhg.jpg");
    background-size: cover;
  }
}

.add-bike-btn {
  text-decoration: none;
  color: #76BDC9;

  &:hover {
   color: #76BDC9;
  }
}
