.navbar {
  margin: 0 auto;
  padding: 5px 20px;
  // background-image: linear-gradient(to right bottom, #edf5f6, #f2f7f9, #f7fafc, #fcfcfd, #ffffff);
  background-color: white;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50px;
  position: sticky;
  width: 80vw;
  top: 20px;
  z-index: 1;


  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: #{$shadow};

  .nav-logo {
    margin: 0 10px;
  }

  p, h5 {
    margin: 0px;
  }

  .addFlatBtn {
    color: #{$snatchblue};
    font-size: 17px;
    padding: 5px 15px;
    text-align: right;
    flex-grow: 1;

    &:hover {
      text-decoration: underline;
      font-weight: bolder;
      color: $snatchdarkgrey;
    }
  }

  .search-bar {
    padding: 10px 20px;
    width: 46vw;
    border-radius: 50px;
    border-width: thin;
    // border: 1px solid #{$snatchblue};
  }

  .userNavAvatar {
    padding: 20px;
    border-radius: 50px;
    background-color: grey;
    background-image: url("https://res.cloudinary.com/wagon/image/upload/c_fill,w_200/v1585817063/mjfsgrwh6a5l8msehjhg.jpg");
    background-size: cover;
    
   

}




.add-bike-btn {
  text-decoration: none;
  color: #76BDC9;
  font-size:15px;
}
}
// search button styling
.search-btn {
  border-radius:50px;
  border:none;
  margin-left: -78px;
  &:hover{
    background-color: $snatchblue;
  }
}

// new code 

// 
.dropdown:hover .dropdown-content {display: block;}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;

  min-width: 95px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:40px;
  left:-38px;
  border-radius:index;
  text-align:center;

}

.dropdown-content a {
  color: $snatchblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; border-radius:index;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}