// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "mapbox-gl/dist/mapbox-gl";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";

// Pages
@import "pages/index";

// Bikes Pages
@import "pages/bikes/show";
@import "pages/bikes/new";
@import "pages/bikes/index";


a {
  text-decoration: none;
  color: $snatchblue;

  &:hover {
    color: $snatchbluehover
  }
}

h1 {
  font-size: 48px;
}

h2 {
  letter-spacing: 2px;
  font-size: 39px;
  font-weight: 500;
}

h3 {
  font-family: snl, sans-serif;
  font-size: 27px;
}

h5 {
  font-size: 18px;
  color: #{$snatchdarkgrey};
}

h1, h2, p {
  font-family: "Quicksand", serif;
}

p {
  font-size: 15px;
}
